<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenido a  {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="../assets/man.png">
  <hr />
    <!--property binding-->
    <button [disabled]="true">Click me</button>
  <div>  
    <button [disabled]="false">Click me</button>
  </div>
  <div>  
    <button [disabled]="!listo">Click me LISTO</button>
    <!--listo es una variable q se declara en app.component.ts-->
  </div>
  <div>  
    <hr />
    <h2>{{clickeado}}</h2>
    <button [disabled]="!listo" (click)="sumarAlgo()">Click me SUMA</button>
    <!--event binding-->
  </div>
  <div>  
    <hr />
    <input type="text" placeholder="Tu nombre" [(ngModel)]="nombre" />
    <input type="text" placeholder="Tu apellido" [(ngModel)]="apellido" />
    <br>
    Mi nombre completo es {{nombre + ' ' + apellido }}
    <!--Two way Data binding-->
  </div>       
</div>


